includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/

    # Level 9 is the highest level
    level: 5

    # Treat PHPDoc types as uncertain when they only come from docblocks.
    # This reduces false positives coming from incomplete or imprecise PHPDoc annotations.
    treatPhpDocTypesAsCertain: false

    excludePaths:
        - ./*/*/FileToBeExcluded.php
