.shopqnainboxpage-style-1 {
  min-height: 200px;
}

.shopqnainboxpage-style-2 {
  width: 30%;
  height: 16px;
  margin-bottom: 16px;
}

.shopqnainboxpage-style-3 {
  width: 90%;
  height: 14px;
  margin-bottom: 12px;
}

.shopqnainboxpage-style-4 {
  width: 100%;
  height: 80px;
}